@tailwind base;
@tailwind components;
@tailwind utilities;


.aleo-100 {
  font-family: "Aleo", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.aleo-200 {
  font-family: "Aleo", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.aleo-300 {
  font-family: "Aleo", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}


.aleo-400 {
  font-family: "Aleo", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.aleo-500 {
  font-family: "Aleo", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.aleo-600 {
  font-family: "Aleo", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.aleo-700 {
  font-family: "Aleo", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.aleo-800 {
  font-family: "Aleo", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
.aleo-900 {
  font-family: "Aleo", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}